@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Primary Brand Colors */
    --highlight-teal: 189 250 238; /* #bdfaee */
    --pop-of-teal: 124 238 216; /* #7ceed8 */
    --accent-teal: 72 220 202; /* #48dcca */
    --skimm-teal: 0 196 179; /* #00c4b3 */
    --warm-teal: 0 130 128; /* #008280 */
    --dark-teal: 32 80 87; /* #205057 */

    /* Neutral Colors */
    --white: 255 255 255; /* #ffffff */
    --gray-100: 250 251 251; /* #fafbfb */
    --gray-200: 239 243 242; /* #eff3f2 */
    --gray-300: 209 218 217; /* #d1dad9 */
    --gray-400: 187 195 195; /* #bbc3c3 */
    --gray-500: 146 155 154; /* #929b9a */
    --gray-600: 113 120 119; /* #717877 */
    --gray-700: 44 44 44; /* #2c2c2c */
    --gray-800: 33 33 33; /* #212121 */
    --black: 0 0 0; /* #000000 */

    /* Secondary Colors */
    --soft-teal-100: 227 242 240; /* #e3f2f0 */
    --soft-teal-200: 203 227 224; /* #cbe3e0 */
    --soft-teal-300: 158 211 205; /* #9ed3cd */

    --greige-100: 242 241 235; /* #f2f1eb */
    --griege-200: 220 219 211; /* #dcdbd3 */
    --greige-300: 180 177 163; /* #b4b1a3 */

    --sage-100: 236 243 235; /* #ecf3eb */
    --sage-200: 215 225 211; /* #d7e1d3 */
    --sage-300: 153 187 166; /* #99bba6 */

    --peach-100: 245 240 228; /* #f5f0e4 */
    --peach-200: 234 216 200; /* #ead8c8 */
    --peach-300: 216 170 144; /* #d8aa90 */

    --error-500: 254 16 16; /* #fe1010 */
  }
}

@layer base {
  body {
    @apply font-gt-america;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}
